body {
    background-image: url('../arquivos/Logo MRM em fundo azul escuro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.subtitulo {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 50px;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
}

.sobremim {
    text-align: justify;
    padding: 20px 1%;

}

.galeriafotos {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    gap: 15px;
    padding: 1%;
}

.galeriafotos img {
    height: 170px;
    flex: 1;
    width: 0;
    opacity: 0.8;
    border-radius: 5px;
    object-fit: cover;
}

.tiraborda {
    padding: 0px 1%;
}

.justificar {
    text-align: justify;
    padding: 0px 1%;
}

footer {
    background-color: rgba(0, 0, 0, 0.705);
    margin: 0;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.configurações {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    padding: 20px;
}

@media (max-width: 768px) {
    .configurações {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .configurações img {
        width: 40px;
    }
}

.direitos {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}